{% extends "flights/layout.html" %}

{% block body %}
<h1>Flights</h1>
<ul>
    {% for flight in flights %}
    <li>
        <!-- https://youtu.be/YzP164YANAU?t=5077 -->
        <!-- because th flight route requires the flight id as a arg therefore we add flight.id  -->
        <a href="{% url 'flight' flight.id %}">
            Flight {{ flight.id }} : {{flight.origin}} to {{x.destination}}
        
        </a>
    </li>
    {% endfor%}
</ul>

{% endblock %}
<!-- 
And the flight route takes as a parameter a flight ID. And so inside this url a substitution here.
1:24:30
I can specify use flight.id as the ID of the flight that I would like to use here.
1:24:37
And so now, I've put every single flight inside of a link that takes me to the flight route.
1:24:43
But because the flight route requires as an argument the flight ID, I can specify the flight ID here.
1:24:50
And so now, if I go back to /flights, I now see a list of flights where every flight is in fact a link that can take me somewhere else. -->